<h1>Place Cards</h1>
<% if @guest.place_cards.length >  0 %>
       <% @guest.place_cards.each do |place_card| %>
       <ul>
         <%= link_to "#{place_card.name}  #{place_card.table_number}", edit_guest_place_card_path(@guest,place_card) %>
      </ul>
       <% end %>
<% end %>

  <div>
    <h2><%= link_to "Add Place Cards", new_guest_place_card_path(@guest) %></h2>
  </div>
