<h3  class="text-center" id = "ultimate-orange"><%= @guest.mailing_title %>'s Place Cards</h3>

 <% if @guest.place_cards.length >  0 %>
     <% @guest.place_cards.each do |place_card| %>
    <ul>
       <h3  class="text-center" id = "ultimate-orange-smaller"><%= link_to "#{place_card.name} - table number -  #{place_card.table_number}", edit_guest_place_card_path(@guest,place_card) %></h3>
   </ul>
   <% end %>
<% end %>
<h3  class="text-center" id = "ultimate-orange"><%= link_to "Add A New Place Card", new_guest_place_card_path(@guest) %></h3>
</h3>
<nav>
  <h3 id = "ultimate-orange"><%= link_to "Back to Home Page", guests_path%></hs>
</nav>
