<!DOCTYPE html>
<html>
<form class="form-horizontal" role="form">
  <h1></h1>
  <h1 class="text-center" id = "ultimate-orange">Guest List</h1>
  <% @guests.each do |guest| %>
  <div class="row">
      <h4><div class="col-sm-1"></div><div class="col-sm-1"></div><div class="col-sm-1"></div><div class="col-sm-4"><%= link_to guest.mailing_title, edit_guest_path(guest)%></div><div class="col-sm-4"><%= link_to "Input Place Cards", guest_place_cards_path(guest)%></div></h4>
</div>
  <% end %>
</form>
<nav>
  <h2 id = "ultimate-orange"><%= link_to "Add Guest", new_guest_path %></h2>
</nav>

<%= yield %>

</body>
</html>
